@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  border-color: rgb(115 115 115 / var(--tw-border-opacity));
}

/* Html tags */
article,
header,
main,
nav {
  padding: 1rem;
}

section {
  margin-bottom: 1rem;
}
