@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  border-color: rgb(115 115 115 / var(--tw-border-opacity));
}

article {
  padding: 1rem;
}

header {
  padding: 1rem;
}

section {
  padding: 1rem;
  margin-bottom: 1rem;
}
